* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;


}

/* .hero::before{
    content: "";
    background: url("images/bg.png") no-repeat center center/cover;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
}  */

body {
    background-image: url("images/bg.png");
    height: 100vh;
    width: 98vw;


}

nav {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px;

}

nav ul {
    display: flex;
    gap: 30px;

}

nav ul li {
    font-weight: 900;
    font-size: 1.2rem;
    color: rgb(255, 221, 0);
}

.logo img {
    width: 150px;
    height: 50px;
}

.btn button {
    height: 37px;
    width: 103px;
    color: white;
    background-color: #ff6262;
    font-size: 20px;
    border-radius: 6px;
    border: none;
}

#btn button {
    width: 150px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 13vh;

}

main h1 {
    display: flex;
    font-weight: 900;
    font-size: 4.8rem;
    align-items: center;
    text-align: center;
    color: rgb(255, 221, 0);
    font-family: 'Exo 2', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}

.lastimg {
    display: flex;
    justify-content: end;
    align-items: center;

}

.lastimg img {
    width: 100px;
    height: 100px;
    margin-top: 8vh;
    margin-right: 3vh;
}

@media(max-width:800px) {
    .lastimg {
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .lastimg img {
        height: 150px;
        width: 150px;
    }

    .logo img {
        width: 100px;
        height: 35px;
    }

    nav {
        gap: 10px;
      
    }

    nav ul {
        gap: 16px;
    }

    nav ul li {
        gap: 10px;
        
    }
    .btn button{
        display: inline-block;
    }
}